@font-face {font-family: "test"; src: url(MyFont-Regular.otf);}

body {
  background-color: #000;
  color: #FFF;
}

.clock {
  font-family: 'test', sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  word-break: break-all
}
